{# app/Resources/views/liccb/admin.html.twig #}
{# Variables: page_title, stylesheet, body, javascript, user_entries#}
{% extends 'base.html.twig' %}

{% block page_title %}Add User Roles{% endblock %}

{% block body %}
	{# Contain whole thing in variable sized scrollable window #}
	<ul>
		{% for users in user_entries %}
		{# Contain each user entry in dropdown configuration in unordered list#}
		<li>{{ user.name }}</li>
    <form action="whatever_url" method="post">
      <input type="checkbox" name="add_role" value="role">Add role?<br>
    </form>
		{% endfor %}
	</ul>
{% endblock %}
