{# app/Resources/views/base.html.twig #}
{# Variables: page_title, stylesheet, body, javascript #}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			{% block page_title %}Default Page{% endblock %}
		</title>
		
		{% block stylesheet %}
			<link href="{{ asset('css/main.css.twig') }}" rel="stylesheet" />
		{% endblock %}
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	{% block body %}
	{% endblock %}

	{% block javascript %}
	{% endblock %}
	</body>
	<footer>
	</footer>
</html>