{% extends 'base.html.twig' %}

{% block body %}
	<div id="content">
	{% for event in events %}
		<a href="{{ path('event', {'slug': event.id}) }}">{{ event.name }}</a>
	{% endfor %}
	</div>
{% endblock %}
