{% extends 'base.html.twig' %}

{% block body %}
	<h1> Events 2</h1>
	{% for event in events %}
		<a href="{{ path('event_show', {'id': event.id}) }}">{{ event.orgEventName }}</a>
	{% endfor %}
{% endblock %}
