{% extends 'base.html.twig' %}

{% block body %}
	<div id="content">
		<h1> Events 2</h1>
	{% for event in events %}
		<a href="{{ path('event', {'slug': event.id}) }}">{{ event.orgEventName }}</a>
	{% endfor %}
	</div>
{% endblock %}
