AppBundle\Entity\Participant:
    type: entity
    table: null
    repositoryClass: AppBundle\Repository\ParticipantRepository
    id:
        participantEmail:
            type: string
            id: true
            length: 255
            column: participant_email

    oneToMany:
        party_participant_lists:
            targetEntity: Party_participant_list
            mappedBy: participant
    fields:
        fullName:
            type: string
            length: 255
            column: full_name
        comment:
            type: string
            length: '1023'
            nullable: true
        numEventsInvited:
            type: integer
            nullable: true
            column: num_events_invited
        numEventsAttended:
            type: integer
            nullable: true
            column: num_events_attended
    lifecycleCallbacks: {  }
