# src/AppBundle/Resources/config/doctrine/Registration.orm.yml
AppBundle\Entity\Registration:
    type: entity
    table: registration
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        registration_type:
            type: string
        event_selection:
            type: string
        over18:
            type: boolean
        can_swim:
            type: boolean
        boat_experience:
            type: boolean
        cpr_certification:
            type: boolean
        full_name:
            type: string
        email:
            unique: TRUE
            type: string
        phone_number:
            type: string
        emergency_contact_number:
            type: string
        emergency_contact_name:
            type: string
        boat_seats:
            type: integer
        pairing_boater:
            type: string
        event_discovery:
            type: string