{# app/Resources/views/register/confirm.html.twig #}
{%  extends 'base.html.twig' %}

{% block body %}
	<h1>REGISTRATION CONFIRMATION</h1>
	<p>Thanks for registering {{ name }}! Your registration for {{ eventName }} has been recieved, you should be recieving an email confirming this shortly!</p>
{% endblock %}